<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAntMUSLAMhu4XxdNV7Jc2RO-eF_25U_Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>598861259077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.precticalExam</string>
	<key>PROJECT_ID</key>
	<string>practical-exam-e4f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>practical-exam-e4f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598861259077:ios:4ccd655efb4e4f6cc75e2c</string>
</dict>
</plist>